
.approval-exec-status {
	display: flex;
	flex-wrap: wrap;
}
.approval-exec-status > * {
	margin-left: auto;
	margin-right: auto;
}
#abort_info{
	width: 100%;
	margin-bottom: 12px;
}
.approval-status-icon{
	font-size: 1.17rem;
	margin-right: 5px;
}
.approval-status-icon--ongoing{
	color: var(--ibo-color-blue-800);
}
.approval-status-icon--approved{
	color: var(--ibo-color-green-800);
}
.approval-status-icon--rejected{
	color: var(--ibo-color-red-800);
}

.approval-step-idle {
	background-color: var(--ibo-color-white-100);
	border-color: var(--ibo-color-grey-100);
	color: 	var(--ibo-color-grey-500);
	padding:10px;
}
.approval-step {
	background-color: var(--ibo-color-grey-100);
	border: solid 1px var(--ibo-color-grey-500);
	border-radius: 5px;
	padding:10px;
}

.approval-step-start {
	background-color: var(--ibo-color-grey-100);
	border: solid 1px var(--ibo-color-grey-500);
	border-radius: 5px;
	padding:10px;
}
.approval-arrow-next{
	font-size: 2rem;
	color: var(--ibo-color-grey-700);
	vertical-align: middle;
	line-height: 3.5rem;
	padding: 0 10px;
}
.approval-step-ongoing {
	background-color: var(--ibo-color-blue-200);
	border-width: 2px;
	border-color: var(--ibo-color-blue-500);
}
.approval-step-done-ok {
	background-color: var(--ibo-color-green-100);
	border-width: 2px;
	border-color: var(--ibo-color-green-500);
}
.approval-step-done-ko {
	background-color: var(--ibo-color-red-100);
	border-width: 2px;
	border-color: var(--ibo-color-red-500)
}
.approval-idle{
	opacity: 0.4;
}
.approval-timelimit {
	font-weight: bolder;
}
.approval-theoreticallimit {
	opacity: 0.4;
}
.approval-step-header {
	margin: 5px;
	font-weight: bolder;
}
div.approver-label {
	padding: 10px;
	padding-left: 16px;
	margin: 5px;
	margin-right: 0;
	background-color: var(--ibo-color-grey-100);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.approver-answer {
}
tr.approval-substitutes td div{
	padding-left: 15px;
}
.approval-substitutes.closed {
	display: none;
}
#send_reminder {
	margin-top: 5px;
}